@model IEnumerable<User>

<h2>Users</h2>
<a asp-controller="User" asp-action="AddUser" type="submit" class="btn btn-link">Register</a>
<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>FullName</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Password</td>
                <td>@user.FullName</td>
                <td>@user.Address</td>
                <td>
                    <form asp-action="Detail" asp-controller="User" method="post">
                        <a asp-action="Details" asp-route-id="@user.Id">Details</a>
                    </form>
                    <form asp-action="Delete" asp-controller="User">
                        <button asp-action="Delete" type="submit" asp-route-id="@user.Id" class="btn btn-danger">Delete</button>
                    </form>
                    <a asp-controller="User" asp-action="Edit" type="submit" asp-route-id="@user.Id" class="btn btn-danger">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
